*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
} 
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
#root, #__next {
    isolation: isolate;
}
/* color/text*/
:root{
    --red: #E4345B;
    --lightblue: #B8D2E0;
    --blue: #00687A;
    --darkaccent: #2F4A60;
    --base: #4A7396;
    --lightaccent: #769CBC;
}
body{
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    background-color: var(--base);
}
.bold{
    font-weight: 700;
}

#header{
    background-color: var(--darkaccent);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#game-wrapper{
    display: flex;
    justify-content: space-between;

    width: 60%;
    padding-bottom: 2em;
}
#turn-text{
    border: var(--darkaccent) solid 3px;
    border-radius: 1em;
    padding: 1em;
    width: 60%;

    background-color: var(--lightaccent);
}
.square{
    width: 30px;
    height: 30px;
    cursor: pointer;

    border: black solid 2px;
    background-color: var(--lightblue);
    position: relative;
}
#board-wrapper{
    width: fit-content;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.ship{
    background-color: black;
}

.miss:before, .miss:after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;

    background-image: radial-gradient(circle at center, var(--blue) 6px, transparent 5px);
    background-position: center;
    background-size: 30px 30px;
}

/* before and after? */
.hit:before, .hit:after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;

    background-image: radial-gradient(circle at center, var(--red) 6px, transparent 5px);
    background-position: center;
    background-size: 30px 30px;
}

#game-over{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    padding: 5vh;
    width: 50vw;

    border: var(--lightaccent) solid 2px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-over > p {
    font-size: 2rem;
}

.block{
    pointer-events: none;
}
/* Makes the item fully disappear */
.hide{
    display: none;
}

.drag-over{
    border: red 2px dashed;
}
.dragged-ship{
    border: blue 2px solid;
}