*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
} 
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
#root, #__next {
    isolation: isolate;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-wrapper{
    display: flex;
    justify-content: space-between;

    width: 60%;
    /* bottom-padding for text */
    padding-bottom: 2em;
}

#turn-text{
    border: black solid 2px;
    padding: 1em;
    width: 60%;
}
.square{
    width: 30px;
    height: 30px;
    border: black solid 2px;
    cursor: pointer;
}
#board-wrapper{
    width: fit-content;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
.miss{
    background-color: blue;
}
.ship{
    background-color: black;
}
.hit{
    background-color: red;
}
#game-over{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    padding: 5vh;
    width: 50vw;

    border: black solid 2px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-over > p {
    font-size: 2rem;
}

.block{
    pointer-events: none;
}
/* Makes the item fully disappear */
.hide{
    display: none;
}

.drag-over{
    border: red 2px dashed;
}
.dragged-ship{
    border: blue 2px solid;
}